<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ShopDAO-mapper">
	<select id="getCategory"
		resultType="com.my.test.shop.vo.CategoryVO">
		select * from category where
		parent_num is null
	</select>

	<select id="getSubCategory"
		resultType="com.my.test.shop.vo.CategoryVO">
		select * from category where parent_num is not null
	</select>

	<select id="seachSubCategory" parameterType="String"
		resultType="com.my.test.shop.vo.CategoryVO">
		select * from category where parent_num = #{cate_num}
	</select>

	<insert id="registration"
		parameterType="com.my.test.shop.vo.ProductVO">
		insert into product(prod_num, ucode, prod_dep1, prod_dep2,
		prod_name,
		prod_price,
		prod_quantity, prod_description, prod_option, prod_thumb0,
		prod_thumb1, prod_thumb2
		)
		values
		(prod_num_SEQ.nextval,#{ucode},
		#{prod_dep1}, #{prod_dep2},
		#{prod_name},
		#{prod_price},
		#{prod_quantity}, #{prod_description},
		#{prod_option}, #{prod_thumb0},
		#{prod_thumb1}, #{prod_thumb2}
		)

		<selectKey resultType="String" keyProperty="prod_num"
			order="AFTER">
			SELECT prod_num_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="setOption"
		parameterType="com.my.test.shop.vo.OptionVO">
		insert into options (op_num, prod_num, op_dep1_name,
		op_dep2_name, op_dep1_value, op_dep2_value, op_add_price, op_state,
		op_quantity) values(op_num_SEQ.nextval, #{prod_num}, #{op_dep1_name},
		#{op_dep2_name}, #{op_dep1_value}, #{op_dep2_value}, #{op_add_price},
		#{op_state}, #{op_quantity})
	</insert>

	<select id="getTotolProd" parameterType="String"
		resultType="int">
		select count(*) from product where prod_dep2 = #{cate}
	</select>

	<select id="getProducts" parameterType="map"
		resultType="com.my.test.shop.vo.ProductVO">
		select * from(
		select t1.*, t2.cnt, t2.rating, row_number() over(order
		by
		<if test='type == "hot_item"'>t2.cnt desc NULLS LAST, </if>
		<if test='type == "best_review"'>t2.rating desc NULLS LAST, </if>
		t1.PROD_NUM desc
		)
		as num from product t1 , (select t1.prod_num as
		prod_num, cnt, rating
		from (select prod_num, count(*) as cnt
		from(select t1.prod_num from
		product t1, orders t2 where t1.prod_num =
		t2.prod_num) group by
		prod_num) t1,
		(select prod_num, avg(review_rating)
		as rating from
		(select t1.prod_num,
		t2.review_rating from product t1,
		REVIEW t2 where
		t1.prod_num =
		t2.prod_num(+)) group by prod_num)t2
		where
		t1.prod_num =
		t2.prod_num(+)) t2
		where t1.prod_num =
		t2.prod_num(+)
		<if test='cate != null'>
			and
			PROD_DEP2 = #{cate}
		</if>
		) where num BETWEEN
		#{str_num}
		and
		#{end_num}
	</select>

	<select id="getProduct" parameterType="String"
		resultType="com.my.test.shop.vo.ProductVO">
		select * from product t1 , (select t1.prod_num as prod_num,
		cnt, rating from
		(select prod_num, count(*) as cnt from(select
		t1.prod_num from product
		t1, orders t2 where t1.prod_num =
		t2.prod_num(+))
		group by prod_num) t1,
		(select prod_num,
		avg(review_rating) as rating
		from (select
		t1.prod_num, t2.review_rating
		from product t1, REVIEW t2
		where
		t1.prod_num = t2.prod_num(+)) group by
		prod_num)t2 where t1.prod_num
		=
		t2.prod_num(+)) t2
		where t1.prod_num =
		t2.prod_num(+) and t1.prod_num=#{num}
	</select>

	<select id="getOp_names" parameterType="String"
		resultType="com.my.test.shop.vo.OptionVO">
		select DISTINCT op_dep1_name, op_dep2_name from options
		where prod_num = #{num}
	</select>

	<select id="getOp_dep1_value" parameterType="String"
		resultType="com.my.test.shop.vo.OptionVO">
		select DISTINCT op_dep1_name, op_dep1_value from options
		where prod_num = #{num}
	</select>

	<select id="getOptions1" parameterType="String"
		resultType="com.my.test.shop.vo.OptionVO">
		select * from options
		where prod_num = #{num}
	</select>

	<select id="getOptions2"
		parameterType="com.my.test.shop.vo.OptionVO"
		resultType="com.my.test.shop.vo.OptionVO">
		select * from options
		where prod_num = #{prod_num} and
		op_dep1_value = #{op_dep1_value}
	</select>

	<insert id="setOrders"
		parameterType="com.my.test.shop.vo.OrdersVO">
		insert into orders (orders_num, prod_num, orderer,
		seller,
		orders_address, orders_payment, orders_quantity,
		orders_option) values
		(orders_num_seq.nextval, #{prod_num}, #{orderer},
		#{seller},
		#{orders_address}, #{orders_payment}, #{orders_quantity},
		#{orders_option})

		<selectKey resultType="String" keyProperty="orders_num"
			order="AFTER">
			SELECT orders_num_SEQ.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="setDetails"
		parameterType="com.my.test.shop.vo.Order_detailsVO">
		insert into Order_details (details_num, orders_num,
		prod_num,
		details_quantity, op_num) values
		(DETAILS_NUM_SEQ.nextval,
		#{orders_num}, #{prod_num}, #{details_quantity}, #{op_num})
	</insert>

</mapper>