a:link, a:visited {
	color: #666;
	text-decoration: none;
}

li {
	list-style: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

button, img, input, select, textarea {
	vertical-align: middle;
	outline: 0;
}

.full_btn {
	display: block;
	width: 100%;
	padding: 16px 0;
}

.blue_btn {
	font-family: Helvetica Neue, Apple SD Gothic Neo, arial, '³ª´®°íµñ',
		Nanum Gothic, 'µ¸¿ò', Dotum, Tahoma, Geneva, sans-serif;
	letter-spacing: -.03em;
	margin: 0;
	padding: 0;
	appearance: none;
	border: 0;
	box-shadow: none;
	outline: 0;
	text-decoration: none;
	box-sizing: border-box;
	border-radius: 4px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	line-height: 1em;
	vertical-align: baseline;
	color: #fff;
	background: #1f8ce6;
	border: 1px solid #0077d9;
	box-shadow: 0 1px 1px 0 rgba(31, 140, 230, .3);
	font-size: 16px;
	padding: 16px 34px;
}

.blue_btn_mini {
	font-family: Helvetica Neue, Apple SD Gothic Neo, arial, '³ª´®°íµñ',
		Nanum Gothic, 'µ¸¿ò', Dotum, Tahoma, Geneva, sans-serif;
	letter-spacing: -.03em;
	margin: 0;
	padding: 0;
	appearance: none;
	border: 0;
	box-shadow: none;
	outline: 0;
	text-decoration: none;
	box-sizing: border-box;
	border-radius: 4px;
	font-weight: 35;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	line-height: 1em;
	vertical-align: baseline;
	color: #fff;
	background: #1f8ce6;
	border: 1px solid #0077d9;
	box-shadow: 0 1px 1px 0 rgba(31, 140, 230, .3);
	font-size: 14px;
	padding: 8px 17px;
}

.white_btn {
	font-family: Helvetica Neue, Apple SD Gothic Neo, arial, '³ª´®°íµñ',
		Nanum Gothic, 'µ¸¿ò', Dotum, Tahoma, Geneva, sans-serif;
	letter-spacing: -.03em;
	margin: 0;
	padding: 0;
	appearance: none;
	border: 0;
	box-shadow: none;
	outline: 0;
	text-decoration: none;
	box-sizing: border-box;
	border-radius: 4px;
	font-weight: 700;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	line-height: 1em;
	vertical-align: baseline;
	color: #808991;
	background: #fff;
	border: 1px solid #d1d5d9;
	box-shadow: 0 1px 1px 0 rgba(209, 213, 217, .3);
	font-size: 16px;
	padding: 16px 34px;
}

.text_middle {
	vertical-align: middle;
}

.text_bold {
	font-weight: bold;
}

.content_title {
	margin: 10px 0;
	font-size: 24px;
	font-weight: bolder;
	color: #1f8ce6;
	border-bottom: 2px solid #0077d9;
}

.main_btn_box {
	margin-top: 30px;
	text-align: center;
}

.guide_msg {
	font-size: small;
	padding-left: 5px;
	color: #808991;
}

.blue_table {
	width: 800px;
	border: none;
	border-collapse: collapse;
}

.blue_table th {
	width: 150px;
	background-color: #1F8CE6;
	color: white;
	font-size: 18px;
	text-align: left;
	padding-left: 15px;
	box-sizing: border-box;
	border-bottom: 1px solid #c5c5c5;
}

.blue_table td {
	width: 650px;
	padding: 25px 15px;
	box-sizing: border-box;
	border-bottom: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
}

.blue_table tbody tr:first-child th {
	border-top-left-radius: 10px;
}

.blue_table tbody tr:last-child th {
	border-bottom-left-radius: 10px;
	border-bottom: none;
}

.blue_table tbody tr:first-child td {
	border-top-right-radius: 10px;
	border-top: 1px solid #c5c5c5;
}

.blue_table tbody tr:last-child td {
	border-bottom-right-radius: 10px;
	border-top: 1px solid #c5c5c5;
}

.from900 {
	width: 800px;
}

.btn {
	cursor: pointer;
}

.btn:hover {
	opacity: 0.8;
}

input[type=radio] {
	margin-top: 0;
}

.highlight_orange {
	color: orange;
}